/bootstrap/compiled.php
.env.*.php
.env.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
public/uploads
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.env
composer.lock

/updates
workdesk.zip
updates.zip
install.zip
/upload_this

/temp/

# addons
/resources/views/manual_payment
/public/addons
/app/Http/Controllers/ManualPaymentMethodController.php
/app/models/ManualPaymentMethod.php
# support ticket
/resources/views/support_ticket
/app/models/SupportCategory.php
/app/models/SupportTicket.php
/app/models/SupportTicketReply.php
/app/Http/Controllers/SupportCategoryController.php
/app/Http/Controllers/SupportTicketController.php
